body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: #343a40;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.card {
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    border-radius: 20px;
}


#left-column {
    overflow-y: auto;
    max-height: 100vh; 
    padding-right: 15px;
}

#maze-column {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#maze-visualization {
    flex: 1;
    max-width: 50%;
    min-height: 550px;
}

#metrics-plot-section {
    flex: 1;
    max-width: 50%;
}

#mazeCanvas {
    max-width: 100%;
    height: auto;
}

.card {
    margin-bottom: 20px;
}

